<section class="card" id="alldogs">
        <div class="card-body">
            <div class='parent'>
                <div class='child'><img src={{dogPic.dogPic}} class="img-fluid">
    </div>
    <div class='child'>
        <h1>{{name}}</h1>
        <p>Age: {{age}}</p>
        <p>Gender: {{gender}}</p>
        <p>Breed: {{breed}}</p>
        <p>Size: {{size}}</p>
        <a href="/dogs/{{id}}" class="btn btn-dark">More Info</a>
    </div>
    </div>
    </div>
</section>