<!-- Display for single dog page -->
<section class="card">
    <a href="/dogs/{{id}}">
        <div class="card-body">
            <div class='parent'>
                <div class='child'><img src={{dogPic.dogPic}} class="img-fluid">
    </a></div>
    <div class='child'>
        <h1>{{name}}</h1>
        <p>Age: {{age}}</p>
        <p>Gender: {{gender}}</p>
        <p>Breed: {{breed}}</p>
        <p>Size: {{size}}</p>
        <div id="goodWith">
            <br>Good with:</br>
            <br>Other Dogs: {{goodWith.otherDogs}}</br>
            <br>Cats: {{goodWith.cat}}</br>
            <br>Human Children: {{goodWith.kids}}</br>
        </div>
    </div>
    </div>
    </div>
    </a>
</section>
<br>
<div class="adopt">
    <a class="btn btn-dark btn-lg mx-auto d-grid" id="adopt" href="/confirm">Adopt Me!</a>
</div>

<!--<script src="./js/singleDog.js"></script>